.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.register input {
  padding: 10px;
  width: 250px;
}
.register button {
  padding: 10px;
   background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  color: white;
  border: none;
}

